body { 
	background-position: center;
    background: white;
    top : 0;
	left: 0;
	width: 80%;
	height: 90px;
	z-index: 1000;
	margin-top: 0;
	padding-top: 0px;
	padding-left: 150px;
}


h1, h2, h3{
	font-family: 'Zilla Slab Highlight', cursive;
    text-align: center;
}


p {
	font-family: 'Lemonada', cursive;
	background-position: center;
}

div div : hover {
	background-color: #C86E5B;
}
.participation{
	background-color: blue; 
}

.summary {
	background-color:#7FFFD4;
	margin:black; 
}

.preamble{
	background-color: #98FB98;
}

.explanation {
	background-color: #87CEFA
}

.participation {
	background-color: #FFE4C4; 
}

.benefits {
	background-color: #FFF5EE;
}

.requirements {
	background-color: 	#E0FFFF; 
}

.sidebar {
	background-color: #DCDCDC;
	text-align: left;

}

.select, .archives, .resources {
	text-align: left;
}